<ion-header class="ion-no-border ion-padding header" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear" (click)="ScrollToPoint(0,'about')"> About </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear" (click)="ScrollToPoint(0,'experience')">Experience</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear" (click)="ScrollToPoint(0,'work')">Work</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear" (click)="openContactMenu()">Contact</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <button fill="outline" class="outlineColor" (click)="onClickResume()">Resume</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border mobileHeader" [translucent]="true">
  <ion-toolbar class="">
    <ion-title>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="52" viewBox="0 0 40 52">
        <text id="IA" transform="translate(0 42)" fill="#f8f9ff" font-size="39" font-family="SegoeUI-Bold, Segoe UI"
          font-weight="700">
          <tspan x="0" y="0">IA</tspan>
        </text>
      </svg>
    </ion-title>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear" (click)="openMobileMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="mainContent" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <!-- big text -->
  <section class="topLargeText">
    <p>Hi, my name is</p>
    <label>Israel Ayokunnu.</label>
    <p>I'm front-end developer based in UAE, Dubai. I have passion for designing and building dynamic, intuitive web
      applications.</p>
    <button fill="outline"
      onclick='window.location.href="mailto:tobiayokunnu@gmail.com?cc=palcgs@gmail.com&subject=I%20have%20an%20opportunity%20for%20you%20&body=Dear%20Israel%2C"'>Get
      In Touch</button>
  </section>


  <!-- about -->
  <section id="about" class="sec">
    <label class="heroText">About Me</label>
    <p class="parag">Hi there i'm Israel, you may call me easy. I'm a frontend developer based in UAE, Dubai.</p>
    <p class="parag">I have an unquenchable passion for designing and developing web applications, websites and hybrid
      applications.</p>
    <p class="parag">I graduated in 2019 from <ion-text color="primary"> <a href="https://www.birmingham.ac.uk/"
          target="_blank">University of Birmingham</a></ion-text>, joined the engineering team at <ion-text
        color="primary"><a href="https://www.instaval.co/" target="_blank">IntaVal</a></ion-text> where i work as a
      frontend developer on a financial technology product and service.</p>
    <p class="parag">Some development stacks i have messed with recently includes:</p>

    <div class="flexContainer">
      <span class="flexholder">
        <span class="small_list"> <i class="arrow right"></i>Javascript (ES6+)</span>
        <span class="small_list"> <i class="arrow right"></i> Angular </span>
        <span class="small_list"> <i class="arrow right"></i>Ionic Framework</span>
      </span>
      <span class="flexholder">
        <span class="small_list"> <i class="arrow right"></i> HTML</span>
        <span class="small_list"> <i class="arrow right"></i>(S)CSS</span>
        <span class="small_list"> <i class="arrow right"></i> ASP.NET MVC</span>
      </span>
    </div>

    <p class="parag">Design tool i use</p>
    <div class="flexContainer">
      <span class="flexholder">
        <span class="small_list"> <i class="arrow right"></i> Invision Studio</span>
        <span class="small_list"> <i class="arrow right"></i> Balsamiq </span>
        <span class="small_list"> <i class="arrow right"></i> Adobe Illustrator </span>

      </span>
      <span class="flexholder">
        <span class="small_list"><i class="arrow right"></i> AdobeXD</span>
        <span class="small_list"> <i class="arrow right"></i> Adobe Photoshop </span>
        <span class="small_list"><i class="arrow right"></i> Pencil & Paper</span>
      </span>
    </div>
  </section>

  <!-- Experience-->
  <section id="experience" class="sec">
    <label class="heroText">Places i have worked </label>
    <!-- companies -->
    <div class="companyList">
      <button [ngClass]="{'active' : selectedCompany=='instaval'}" (click)="showDetails('instaval')">InstaVal</button>
      <button [ngClass]="{'active' : selectedCompany=='nimbles'}" (click)="showDetails('nimbles')">Nimbles</button>
    </div>
    <ion-list *ngIf="selectedCompany=='instaval'">
      <ion-item lines="none">
        <label class="blue">Frontend Developer | 2019 - Present</label>
      </ion-item>
      <ion-item lines="none">
        <label class="light">
          Researched, designed, and Prototyped a more approachable and valuable experience on business profile for
          Enterprise, Startups and Scaleups as a core part of Dealflow vetting
        </label>
      </ion-item>
      <ion-item lines="none">
        <label class="light">
          Redesigned and Implemented website, Landing pages from UI concepts to deployment
        </label>
      </ion-item>
      <ion-item lines="none">
        <label class="light">
          Worked with a variety of different languages, frameworks such as Javascript, Angular, Jquery
        </label>
      </ion-item>
      <ion-item lines="none">
        <label class="light">
          Communicated and collaborated with multi-disciplinary teams of engineers, Analyst, Testers, clients, and
          stakeholders subsequently
        </label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="selectedCompany=='nimbles'" lines="none">
      <ion-item>
        <label class="blue">Web developer | 2017 - 2018</label>
      </ion-item>
      <ion-item>
        <label class="light ">
          Proposed and implemented new UI and navigation scheme for company website and vocational training platform in
          wordpress
        </label>
      </ion-item>
      <ion-item>
        <label class="light">
          Optimised meta description for on-page seach engine optimisation
        </label>
      </ion-item>
      <ion-item>
        <label class="light">
          Designed portal for Bootcamp training on web development, programming, industrial automation and networking
        </label>
      </ion-item>
      <ion-item>
        <label class="light">
          Created customised graphics, and professional designs for clients including logo design desktop UI, mobile UI,
          flyers, business card, mockups and protyped UI
        </label>
      </ion-item>
    </ion-list>
  </section>

  <!-- Work | personal project-->
  <section id="work" class="sec">
    <label class="heroText">Some things i've built</label>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list lines="none">
            <ion-item *ngFor="let work of works" (mouseover)="showImage(work.imageUrl)">
              <ion-label>
                <span>0{{work.id}}</span> &nbsp;&nbsp; <span>{{work.workName}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-img [src]="imgToShow" *ngIf="imgToShow !=''" class="floatingImage"></ion-img>
        <ion-col class="workImages" size="8">
          <ion-item *ngFor="let work of works" lines="none" (mouseover)="showImage(work.imageUrl)"
            (mouseout)="hideImage()">
            <div>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{work.workName}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>{{work.workDescription}}</ion-card-content>
                <ion-card-subtitle class="ion-padding">{{work.languageUsed}}</ion-card-subtitle>
                <ion-buttons>
                  <ion-button href="{{work.githubRepo}}" *ngIf="work.githubRepo" target="_blank">
                    <ion-icon slot="icon-only" name="logo-github"></ion-icon>
                  </ion-button>
                  <ion-button href="{{work.link}}" *ngIf="work.link" target="_blank">
                    <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
                  </ion-button>
                  <ion-button href="{{work.UI}}" *ngIf="work.UI" target="_blank">
                    <ion-icon slot="icon-only" name="pulse-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-card>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- Finally | Reach out-->
  <!-- <section class="sec">
    <label class="heroText"></label>
  </section> -->

  <!-- last page-->
  <footer [transparent]="true">
    <ion-toolbar>
      <ion-title size="small" class="ion-text-center">Designed & developed by Israel Ayokunnu</ion-title>
    </ion-toolbar>
  </footer>
</ion-content>