<ion-header class="ion-no-border ion-padding header">
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear"> About </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear">Experience</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear">Work</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <ion-button fill="clear" (click)="openContactMenu()">Contact</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" class="nav-link">
      <button fill="outline" class="outlineColor" (click)="onClickResume()">Resume</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContent">
  <!-- big text -->
  <section class="topLargeText">
    <p>Hi, my name is</p>
    <label>Israel Ayokunnu</label>
    <p>I'm front-end developer based in UAE, Dubai. I have passion for designing and building dynamic, intuitive web
      stuff...</p>
    <button fill="outline"
      onclick='window.location.href="mailto:tobiayokunnu@gmail.com?cc=palcgs@gmail.com&subject=I%20have%20an%20opportunity%20for%20you%20&body=Sup%20Easy%2C"'>Get
      In Touch</button>
  </section>


  <!-- about -->
  <section>
    <label class="heroText">About Me</label>
    <p class="parag">Hi there i'm Israel, you may call me easy. I'm a frontend developer based in UAE, Dubai</p>
    <p class="parag">Some more description about me</p>
    <p class="parag">I graduated so so and so</p>
    <p class="parag">Some development stacks i have messed with recently includes:</p>

    <div class="flexContainer">
      <span class="flexholder">
        <span class="small_list"> <i class="arrow right"></i>Javascript (ES6+)</span>
        <span class="small_list"> <i class="arrow right"></i> Angular </span>
        <span class="small_list"> <i class="arrow right"></i>Ionic Framework</span>
      </span>
      <span class="flexholder">
        <span class="small_list"> <i class="arrow right"></i> HTML</span>
        <span class="small_list"> <i class="arrow right"></i>(S)CSS</span>
        <span class="small_list"> <i class="arrow right"></i> ASP.NET MVC</span>
      </span>
    </div>

    <p class="parag">Design tool i use</p>
    <div class="flexContainer">
      <span class="flexholder">
        <span class="small_list"> <i class="arrow right"></i> Invision Studio</span>
        <span class="small_list"> <i class="arrow right"></i> Balsamiq </span>
      </span>
      <span class="flexholder">
        <span class="small_list"><i class="arrow right"></i> AdobeXD</span>
        <span class="small_list"><i class="arrow right"></i> Pencil & Paper</span>
      </span>
    </div>
  </section>

  <!-- Experience-->
  <section>
    <label class="heroText">Places i have worked </label>
    <!-- companies -->
    <div class="companyList">
      <button class="active" (click)="showDetails(instaval)">InstaVal</button> 
      <button (click)="showDetails(nimbles)">Nimbles Engineering Company</button>
    </div>
    <p class="parag">
      Researched, designed, and Prototyped a more approachable and valuable experience on business profile for Enterprise, Startups and Scaleups as a core part of Dealflow vetting
    </p>
    <p class="parag">
      Redesigned and Implemented website, Landing pages from UI concepts to deployment
    </p>
    <p class="parag">
      Worked with a variety of different languages, frameworks such as Javascript, Angular, Jquery
    </p>
    <p class="parag">
      Revamped UI/UX for InstaVal Fintech based application
    </p>
    <p class="parag">
      Communicated and collaborated with multi-disciplinary teams of engineers, Analyst, Testers, clients, and stakeholders subsequently
    </p>
  </section>

  <!-- Work | personal project-->
  <section>
    <label class="heroText">Some things i've built</label>
  </section>

  <!-- Finally | Reach out-->
  <section>
    <label class="heroText"></label>
  </section>

  <!-- last page-->
  <footer>
    <ion-toolbar>
      <ion-title size="small" class="ion-text-center">Designed & developed by Israel Ayokunnu</ion-title>
    </ion-toolbar>
  </footer>


</ion-content>