$DarkBlueColor: #0a192f;

ion-content {
    background-color: #ffffff;
}

.hasLine {
    display: flex;
    align-items: center;
}

.line {
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: $DarkBlueColor;
    margin-right: 10px;
}
ion-grid {
    padding-left: 10%;
    height: 100%;

    ion-row {
        height: 100%;
    }

    @media (max-width: 800px) {
        padding-left: initial;
    }
}

ion-col {
    h1 {
        color: #0a192f;
        font-weight: 500;
        font-size: 55px;
        letter-spacing: 1px;
        line-height: 54px;

        &:nth-child(2) {
            font-size: 35px;
        }
        &:nth-child(3) {
            font-size: 35px;
        }
    }

    p {
        font-size: 18px;
        word-wrap: wrap;
        white-space: normal;
        line-height: 50px;
        max-width: 550px;
        ion-button {
            background-color: transparent;
            --padding-start: 0px;
            --padding-end: 0px;
            text-transform: unset;
            font-size: inherit;
            padding-bottom: 12px;
            text-decoration: underline;
        }

        ion-text {
            white-space: nowrap;
            white-space: normal;
        }

        .line {
            width: 10px;
            height: 2px;
        }
    }

    .logo {
        background-color: #0a192f;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.langUsed {
    justify-content: space-between;
    font-size: 16px !important;
    font-weight: 600;
    color: dimgrey;
}
.descriptionCol {
    margin-top: 10%;

    @media (max-width: 800px) {
        margin-top: initial;
    }
}

.projectListCol {
    padding-top: 10%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

    ion-label {
        transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: .1s;
      
     

        background-color: #ffffff;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 370px;
        max-height: 370px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0px 5.7px -7px rgba(0, 0, 0, 0.13), 0 0px 14.5px -7px rgba(0, 0, 0, 0.019),
            0 0px 29.6px -7px rgba(0, 0, 0, 0.02), 0 0px 61px -7px rgba(0, 0, 0, 0.032),
            0 0px 167px -7px rgba(0, 0, 0, 0.04);

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 100%;
        }

        &:nth-child(odd) {
            margin-top: 4%;
            margin-right: -20px;
        }
        &:nth-child(even) {
            margin-top: -18%;
        }
        &:last-child {
            margin-top: -20%;
        }
    }
}

.whatsappColor {
    color: #75b73b;
}

.LinkedIn {
    color: #0e76a8;
}

.instaValColor {
    color: #02a1fe;
}

.dcColor {
    color: rgb(41, 146, 143);
}

.defaultSideMenu {
    background-color: #ffffff !important;
}

ion-label.active {
    transition:.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: .1s;

    border-radius: 0px !important;
    z-index: 99999;
    max-width: 40% !important;
    margin-top: 0 !important;
    position: fixed;
    flex-direction: column;
    max-height: 100% !important;
    margin-right: 5px!important;
    top: 0;
    right: 0;
    img {
        border-radius: 0 !important;
    }
}
