$dark-blue: #172a45;
$light-blue: rgb(204, 214, 246);
$mainblue: #0099ff;

.defaultSideMenu {
    width: 90px;
    min-width: 0px;
    background: $dark-blue 0% 0% no-repeat padding-box;
    --ion-background-color: $dark-blue;
    opacity: 1;

    * {
        color: $light-blue;
    }
}

.defaultMenuV2Mini {
    background-color: #ffffff;
    background: #ffffff;
    .ia-small {
        background-color: transparent;
        border: 2px solid #0a192f;

        * {
            color: #0a192f;
        }
    }
    
    ion-footer {
        ion-icon{
            color: $dark-blue;
        }
    }
}

.contactMenu {
    width: 500px;
    min-width: 0px;
    background: $light-blue 0% 0% no-repeat padding-box;
    --ion-background-color: $light-blue;

    .ia-large {
        font-size: 35px;
        font-weight: 600;
        letter-spacing: -2px;
    }
    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #0a192f;
    }

    .sideMenuContent {
        height: 100%;
        * {
            margin-left: 45px;
        }

        h1 {
            font-size: 65px;
        }
        p {
            font-size: 27px;
        }

        button {
            color: $dark-blue;
            background-color: transparent;
            font-size: 14px;
            font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
            line-height: 1;
            cursor: pointer;
            margin-top: 50px;
            border-width: 2px;
            border-style: solid;
            border-color: $dark-blue;
            border-image: initial;
            border-radius: 3px;
            padding: 1.25rem 1.75rem;
            text-decoration: none;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
            font-weight: 700;
            &:hover {
                background-color: #172a4526;
            }
        }
    }
}

.mobileMenu {
    --ion-background-color: #ccd6f6;

    ion-item {
        text-align: center;
    }

    .sideMenuContent {
        height: 100%;
    }
    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-family: "OCRA A";
        color: $dark-blue;
    }
    button {
        color: $dark-blue;
        background-color: transparent;
        font-size: 14px;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        line-height: 1;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: $dark-blue;
        border-image: initial;
        border-radius: 3px;
        padding: 1.25rem 1.75rem;
        text-decoration: none;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        font-weight: 700;
        &:hover {
            background-color: #172a4526;
        }
    }
}

.flexItemColumn {
    display: flex;
    flex-direction: column;
}

.ia-small {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #0a192f 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(36px);
    -webkit-backdrop-filter: blur(36px);
}

@media (max-width: 1400px) {
    .sideMenuContent {
        h1 {
            font-size: 50px !important;
        }
        p {
            font-size: 20px !important;
        }
    }

    .contactMenu {
        .ia-large {
            font-size: 25px;
        }
    }
}

.bgsvg {
    svg {
        height: 100vh;
        width: 100vw;
        overflow: visible;
    }
}
