<ion-app>
    <div class="bgsvg" >
        <svg xmlns="http://www.w3.org/2000/svg" width="1622" height="1080" viewBox="0 0 1622 1080" class="grid">
            <g id="Repeat_Grid_1" data-name="Repeat Grid 1" opacity="0.1">
              <g transform="translate(-247)">
                <g id="Rectangle_6" data-name="Rectangle 6" transform="translate(247)" fill="#fff" stroke="#707070" stroke-width="1">
                  <rect width="2" height="1080" stroke="none"/>
                  <rect x="0.5" y="0.5" width="1" height="1079" fill="none"/>
                </g>
              </g>
              <g transform="translate(158)">
                <g id="Rectangle_6-2" data-name="Rectangle 6" transform="translate(247)" fill="#fff" stroke="#707070" stroke-width="1">
                  <rect width="2" height="1080" stroke="none"/>
                  <rect x="0.5" y="0.5" width="1" height="1079" fill="none"/>
                </g>
              </g>
              <g transform="translate(563)">
                <g id="Rectangle_6-3" data-name="Rectangle 6" transform="translate(247)" fill="#fff" stroke="#707070" stroke-width="1">
                  <rect width="2" height="1080" stroke="none"/>
                  <rect x="0.5" y="0.5" width="1" height="1079" fill="none"/>
                </g>
              </g>
              <g transform="translate(968)">
                <g id="Rectangle_6-4" data-name="Rectangle 6" transform="translate(247)" fill="#fff" stroke="#707070" stroke-width="1">
                  <rect width="2" height="1080" stroke="none"/>
                  <rect x="0.5" y="0.5" width="1" height="1079" fill="none"/>
                </g>
              </g>
              <g transform="translate(1373)">
                <g id="Rectangle_6-5" data-name="Rectangle 6" transform="translate(247)" fill="#fff" stroke="#707070" stroke-width="1">
                  <rect width="2" height="1080" stroke="none"/>
                  <rect x="0.5" y="0.5" width="1" height="1079" fill="none"/>
                </g>
              </g>
            </g>
          </svg>
          
      </div>

    <ion-split-pane contentId="main-content">
        <!-- site v2 mini -->
<ion-menu side="start" menuId="defaultMenuV2Mini" contentId="main-content" class="defaultSideMenu defaultMenuV2Mini">
    <ion-header class="ion-no-border ion-padding">
        <ion-toolbar>
            <ion-buttons class="flexItemColumn">
                <ion-button  (click)="openContactMenu()" shape="round" class="ia-small">
                    <ion-title>IA</ion-title>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>


    <!-- social icon-->
    <ion-footer class="ion-no-border">
        <ion-toolbar>
            <ion-list>
                <ion-buttons class="flexItemColumn">
                    <ion-button href="https://github.com/easyadin" target="_blank">
                        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
                    </ion-button>
                    <ion-button href="https://www.linkedin.com/in/easyadin/" target="_blank">
                        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
                    </ion-button>
                    <ion-button href="https://twitter.com/easyadin" target="_blank">
                        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                    </ion-button>
                    <ion-button href="https://api.whatsapp.com/send?phone=+971509730664" target="_blank">
                        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                    </ion-button>
                    <ion-button
                        href="mailto:tobiayokunnu@gmail.com?cc=palcgs@gmail.com&subject=I%20have%20an%20opportunity%20for%20you%20&body=Dear%20Israel%2C">
                        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-list>
        </ion-toolbar>
    </ion-footer>
</ion-menu>

        <!-- Default menu | Desktop only -->
        <ion-menu side="start" menuId="defaultMenu" contentId="main-content" class="defaultSideMenu">
            <ion-header class="ion-no-border ion-padding">
                <ion-toolbar>
                    <ion-buttons class="flexItemColumn">
                        <ion-button  (click)="openContactMenu()" shape="round" class="ia-small">
                            <ion-title>IA</ion-title>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>


            <!-- social icon-->
            <ion-footer class="ion-no-border">
                <ion-toolbar>
                    <ion-list>
                        <ion-buttons class="flexItemColumn">
                            <ion-button href="https://github.com/easyadin" target="_blank">
                                <ion-icon slot="icon-only" name="logo-github"></ion-icon>
                            </ion-button>
                            <ion-button href="https://www.linkedin.com/in/easyadin/" target="_blank">
                                <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
                            </ion-button>
                            <ion-button href="https://twitter.com/easyadin" target="_blank">
                                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                            </ion-button>
                            <ion-button href="https://api.whatsapp.com/send?phone=+971509730664" target="_blank">
                                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                            </ion-button>
                            <ion-button
                                href="mailto:tobiayokunnu@gmail.com?cc=palcgs@gmail.com&subject=I%20have%20an%20opportunity%20for%20you%20&body=Dear%20Israel%2C">
                                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-list>
                </ion-toolbar>
            </ion-footer>
        </ion-menu>



        <!-- Contact sideMenu -->
        <ion-menu side="start" type="overlay" menuId="contactSideMenu" contentId="main-content" swipeGesture="true"
            class="defaultSideMenu contactMenu">
            <ion-header class="ion-no-border">
                <ion-toolbar class="ion-padding">
                    <ion-title class="ion-padding ia-large">Israel Ayokunnu</ion-title>
                    <ion-buttons slot="primary">
                        <ion-button (click)="closeContactMenu()">
                            <ion-icon slot="icon-only" name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>

                </ion-toolbar>
            </ion-header>


            <div class="sideMenuContent">
                <label>
                    <h1>Get in Touch</h1>
                    <p>I'm currently looking for new opportunities and i'm available immediately!</p>
                </label>
                <button fill="outline"
                    onclick='window.location.href="mailto:tobiayokunnu@gmail.com?cc=palcgs@gmail.com&subject=I%20have%20an%20opportunity%20for%20you%20&body=Dear%20Israel%2C"'>Contact
                    Me</button>
            </div>
            <!-- social icon-->
            <ion-footer class="ion-no-border ion-padding">
                <ion-toolbar class="ion-padding">
                    <ion-list>
                        <ion-buttons class="">
                            <ion-button href="https://github.com/easyadin" target="_blank">
                                <ion-icon slot="icon-only" name="logo-github"></ion-icon>
                            </ion-button>
                            <ion-button href="https://www.linkedin.com/in/easyadin/" target="_blank">
                                <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
                            </ion-button>
                            <ion-button href="https://twitter.com/easyadin" target="_blank">
                                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                            </ion-button>
                            <ion-button href="https://api.whatsapp.com/send?phone=+971509730664" target="_blank">
                                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                            </ion-button>
                            <ion-button
                                href="mailto:tobiayokunnu@gmail.com?cc=palcgs@gmail.com&subject=I%20have%20an%20opportunity%20for%20you%20&body=Dear%20Israel%2C">
                                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-list>
                </ion-toolbar>
            </ion-footer>
        </ion-menu>

        <!-- Mobile menu-->
        <ion-menu side="end" type="overlay" menuId="mobileSideMenu" contentId="main-content" swipeGesture="true"
            class="mobileMenu">
            <ion-header class="ion-no-border">
                <ion-toolbar class="ion-padding">
                    <ion-title class="ion-padding ia-large" style="visibility: hidden;">Israel Ayokunnu</ion-title>
                    <ion-buttons slot="primary">
                        <ion-button (click)="closeContactMenu()">
                            <ion-icon slot="icon-only" name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>

            <div class="sideMenuContent">

                <ion-list>
                    <ion-item lines="none">
                        <ion-label (click)="ScrollToPoint(0,'about')">
                            About
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label (click)="ScrollToPoint(0,'experience')">
                            Experience
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label (click)="ScrollToPoint(0,'work')">
                            Work
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label (click)="openContactMenu()">
                            Contact
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <button fill="outline"> Resume</button>
                    </ion-item>
                </ion-list>
            </div>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>

